<%- include("partials/header.ejs") %>
<h2>To Do List</h2>
<div id="todoContainer">
    <form action="/submit" method="POST">
      <input type="text" id="userInput" name="todoItem" placeholder="Write your tasks here" />
      <input type="submit" id="submitButton" value="submit" />
    </form>

    <div id="todoOutput">
      <ul>
        <% todoArray.forEach(function(item, index) { %>
        <li class="todoItemLi"id="todoItem<% index %>"><%= item %>
          <input
            type="checkbox"
            id="todoItem<%= index %>Done"
            name="todoItem<%= index %>Done"
            value="<%= item %>"
          />
        </li>
        <% }); %>
      </ul>
    </div>
  </div>
  </body>
</html>
