<%- include("partials/header.ejs") %>
<h2>To Do List</h2>
    <form action="/submit" method="POST">
      <input type="text" name="todoItem" placeholder="Write your tasks here" />
      <input type="submit" value="submit" />
    </form>

    <div>
      <ul>
        <% todoArray.forEach(function(item, index) { %>
        <li class="todoItemLi">
          <a class="todoItem" id="todoItem<%= index %>"><%= item %></a>
          <input
            type="checkbox"
            id="todoItem<%= index %>Done"
            name="todoItem<%= index %>Done"
            value="<%= item %>"
          />
        </li>
        <% }); %>
      </ul>
    </div>
  </body>
</html>
